---
const {data, figNo, figCaption} = Astro.props
---

<div class="row">
  <div class="col-lg-8">
    <p>
      <span>
        <slot />
      </span>
    </p>
  </div>
  <figure class="col">
    <img src={`../../../images/issues/issue${data.issueNo}/article${data.articleNo}/figure_${figNo}.jpg`} alt={`Figure [${figNo}]: ${figCaption}`} />
    <figcaption>{`Figure [${figNo}]: ${figCaption}`}</figcaption>
  </figure>
</div>