---
import { ViewTransitions } from 'astro:transitions';
// CSS
import "../styles/libs/all.min.css";
import "../styles/libs/bootstrap.min.css";
import "./../styles/global.css";
// Components
import Nav from "../components/Nav.astro";
import Footer from "./../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZTYWSZHJ4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8ZTYWSZHJ4");
    </script>

    <!-- Meta -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ViewTransitions /> -->
    <title>YSJ | {frontmatter.title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="../../images/favicon/site.webmanifest" />
  </head>
  <body issue-no={frontmatter.issueNo}>
    <Nav />
    <section class="py-5">
      <div class="container-lg">
        <a href=`/issues/${frontmatter.issueNo}` class="return w-fit-content my-4 px-3 py-2 text-decoration-none rounded-3 fs-4 d-flex align-items-center gap-3">
          <i class="fa-solid fa-chevron-left"></i>
          <span>Return to Issue 10</span>
        </a>
        <div class="border-box mx-auto px-3 px-md-4 py-5">
          <h2 class="section-title w-fit-content text-center position-relative mx-auto mb-5">{frontmatter.title}</h2>
          <p class="section-author mb-0 text-center text-muted">
          {
            frontmatter.author.map((author, index) => (
              <>
                {`${author.name} (${author.school})`}
                <br/>
              </>
            ))
          }
          {frontmatter.supervisorName && <><strong>Mentor: </strong>{frontmatter.supervisorName} ({frontmatter.supervisorSchool})</>}
          </p>
          <div class="content">
            <slot />
          </div>
        </div>
      </div>
    </section>
    <Footer />

    <script>
      // MathJax
      window.MathJax = {
        tex: {
          inlineMath: [['$$', '$$'], ['\\(', '\\)']], // Support inline math with $$...$$ and \(...\)
          displayMath: [['$$', '$$'], ['\\[', '\\]']], // Block math with $$...$$ or \[...\]
        },
        options: {
          processEscapes: true, // Allow escape sequences to avoid conflicts
        }
      };
      // Tooltip
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script>
      import "../scripts/libs/all.min.js";
      import "../scripts/libs/bootstrap.bundle.min.js";
      import "../scripts/main.js";
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>

<style>
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif !important;
}
section .return {
  background-color: #6acbfc;
  color: white;
}
section h2.section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: #ee6d6d;
  border-radius: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
section h2.section-title:hover::after {
  width: 100%;
}

section .border-box {
  border: #dee2e6 2px solid;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (min-width: 991.98px) {
  section .border-box {
    padding: 5rem !important;
  }
}

</style>